.site-footer {
  background-color: theme-color("dark");
  color: theme-color("white");
  font-size: 16px;
  text-align: center;
  line-height: 24px;
  padding-top: 30px;
  padding-bottom: 20px;

  @include media-breakpoint-up('md') {
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    padding-top: 0;
  }

  .menu-item {
    padding: 0;
  }

  .container {
    max-width: $content-width;
  }

  a {
    color: theme-color("white");
    font-size: 14px;
    line-height: 18px;

    &:hover {
      opacity: 0.7;
      color: theme-color("white");
    }
  }

  ul {
    padding: 0;
    display: block;
  }

  li {
    list-style: none;
    margin-bottom: 24px;

    @include media-breakpoint-up('lg') {
      margin-bottom: 16px;
    }

    &:last-of-type {
      margin-bottom: 15px;
    }
  }

  .footer-widgets {
    h5 {
      font-size: 25px;
      color: theme-color("light-blue");

      @include media-breakpoint-up('md') {
        font-size: 14px;
        margin-bottom: 0;
      }

      &:first-of-type {
        margin-bottom: 27px;

        @include media-breakpoint-up('md') {
          margin-top: 40px;
          margin-bottom: 24px;
        }
      }
    }

    .active h5 {
      &:first-of-type {
        margin-bottom: 22px;
      }
    }

    a {
      font-size: 16px;
      line-height: 24px;

      @include media-breakpoint-up('lg') {
        font-size: 14px;
        line-height: 18px;
      }
    }

    section {
      padding: 0;
    }

    .menu {
      @include media-breakpoint-up('md') {
        margin-top: 0;
      }

      > li {
        margin-bottom: 15px;

        @include media-breakpoint-up('lg') {
          margin-bottom: 16px;
        }
      }
    }

    .menu-item {
      a {
        @include media-breakpoint-up('md') {
          font-weight: 600;
        }
      }

      .sub-menu {
        margin-top: 17px;

        @include media-breakpoint-up('lg') {
          margin-top: 12px;
        }

        a {
          margin-left: 3px;
          font-weight: 400;

          @include media-breakpoint-up('lg') {
            margin-left: 8px;
          }
        }
      }
    }

    .menu-item-has-children {
      .chevron {
        @include chevron(theme-color('light-green'), 7px);
      }

      &.active .chevron::after {
        transform: rotate(45deg);
      }

      a {
        margin-left: 10px;
        margin-right: 5px;

        @include media-breakpoint-up('md') {
          margin-left: 0;
          margin-right: 0;
        }
      }

      &.active > a {
        opacity: 1;
      }

      .sub-menu {
        display: none;
      }

      &.active .sub-menu {
        display: block;
      }
    }
  }

  section {
    .menu {
      display: none;

      @include media-breakpoint-up('md') {
        display: block;
      }
    }

    &.active {
      & .chevron::after {
        transform: rotate(45deg);
      }

      .menu {
        display: block;
      }
    }

    h5 {
      .chevron {
        @include chevron(theme-color('light-blue'), 12px);

        margin-left: 10px;

        &::after {
          top: 2px;
        }

        @include media-breakpoint-up('md') {
          display: none;
        }
      }

      @include media-breakpoint-up('md') {
        margin-left: 0;
      }
    }
  }

  .address {
    @include media-breakpoint-up('md') {
      margin-top: 10px;
      margin-bottom: 5px;
    }

    a {
      color: theme-color("green-light");
      display: block;
      opacity: 1;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  .phone-number {
    opacity: 1;
  }

  .footer-base {
    margin-top: 4em;
    margin-bottom: 20px;

    .socials {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 15px;
      padding-bottom: 26px;
      border-bottom: 1px solid transparentize(theme-color("light"), 0.6);
      margin-bottom: 18px;

      @include media-breakpoint-up('lg') {
        justify-content: flex-end;
        padding-bottom: 6px;
        padding-right: 0;
        margin-bottom: 4px;
        margin-top: 120px;
      }

      a {
        opacity: 0.7;

        &:hover {
          opacity: 1;
        }
      }
    }

    .social-bug-cta {
      display: none;
      font-size: 18px;
      font-weight: 600 !important;
      margin: 0 10px;
      color: theme-color("light-blue");

      @include media-breakpoint-up('md') {
        display: inline;
        margin-right: 15px;
      }
    }

    .social-bug {
      font-size: 30px;
      margin-right: 15px;

      @include media-breakpoint-up('md') {
        font-size: 20px;
        margin-right: 10px;

        .fa-twitter {
          font-size: 26px;
        }

        .fa-facebook {
          font-size: 21px;
        }

        .fa-linkedin {
          font-size: 24px;
        }
      }

      &--blog {
        width: 30px;
        height: 30px;
        display: block;
        margin-left: 5px;
        background-repeat: no-repeat;
        background-position: center right;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='30' viewBox='0 0 25 30'%3E%3Cg fill='none'%3E%3Cpath fill='%23000' d='M0 0H414V1281H0z' transform='translate(-275 -8456) translate(0 7304)'/%3E%3Cpath fill='%23fff' d='M298.89 8458.27c0-.438-.354-.792-.791-.792h-20.936c-.437 0-.792.354-.792.792v26.215c0 .437.355.791.792.791H298.1c.21 0 .412-.083.56-.232.149-.148.232-.349.232-.56l-.002-26.214zm-11.76 22.355h-4.716c-.437 0-.792-.355-.792-.792 0-.437.355-.791.792-.791h4.716c.437 0 .791.354.791.791 0 .438-.354.792-.791.792zm0-3.527h-4.716c-.437 0-.792-.354-.792-.791 0-.437.355-.792.792-.792h4.716c.437 0 .791.355.791.792 0 .437-.354.791-.791.791zm7.195 2.9c0 .437-.354.791-.792.791h-3.69c-.438 0-.792-.354-.792-.791v-3.691c0-.437.354-.792.791-.792h3.691c.438 0 .792.355.792.792v3.69zm-.792-6.426h-11.12c-.436 0-.79-.354-.79-.791 0-.438.354-.792.79-.792h11.12c.438 0 .792.354.792.792 0 .437-.354.791-.792.791zm.792-4.902c0 .437-.354.791-.792.791h-11.12c-.436 0-.79-.354-.79-.791v-5.008c0-.437.354-.791.79-.791h11.12c.438 0 .792.354.792.791v5.008z' transform='translate(-275 -8456)'/%3E%3C/g%3E%3C/svg%3E%0A");

        @include media-breakpoint-up('md') {
          width: 18px;
          height: 18px;
          margin-right: 2px;
          margin-left: 8px;
        }
      }
    }

    .socials-list {
      @include media-breakpoint-up('lg') {
        border-right: 1px solid rgba(255, 255, 255, 0.3);
        padding-right: 10px;

        @include media-breakpoint-up('md') {
          padding-right: 5px;
        }
      }
    }

    .row:last-child {
      padding: 1em 0 4em;
    }

    .copyright {
      font-weight: 400;
      font-size: 14px;
      display: flex;
      flex-wrap: wrap;
      line-height: 32px;
      align-items: center;
      justify-content: center;
      padding: 0;

      @include media-breakpoint-up('md') {
        justify-content: flex-start;
        padding: 0;
      }

      svg {
        margin-right: 30px;
        display: none;

        @include media-breakpoint-up('md') {
          display: block;
        }
      }

      a {
        opacity: 1;
        font-size: inherit;
        font-weight: 600;

        &:hover {
          opacity: 0.7;
        }
      }
    }

    .bullet {
      margin: 0 5px;

      @include media-breakpoint-up('lg') {
        margin: 0 3px;
      }
    }

    .footer-logo {
      opacity: 1;

      @include media-breakpoint-up('lg') {
        margin-right: 8px;
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }
}
