.productFeatures {
  padding-bottom: 80px;

  @include media-breakpoint-up('lg') {
    padding-bottom: 190px;
  }
}

.productFeatures--d20 {
  .productFeatures__intro {
    padding-bottom: 40px;
  }

  .newSection__header {
    padding-bottom: 100px;
  }
}

.productFeatures__container {
  @extend .container;
}

.productFeatures {
  .newSection__header {
    max-width: 778px;
    margin: 0 auto;
    padding-bottom: 80px;
    text-align: center;

    h3 {
      font-size: 18px;
      font-weight: 700;
      line-height: normal;
      color: theme-color('dark-background');
      margin-bottom: 35px;
      text-transform: capitalize;
    }

    p {
      font-size: 20px;
      line-height: 30px;
      padding: 0 19px;
      font-weight: normal;
      color: theme-color('gray-light');
      margin-bottom: 0;
    }

    @include media-breakpoint-up('lg') {
      padding: 82px 0 180px;

      h3 {
        color: theme-color('gray');
        margin-bottom: 47px;
      }

      p {
        line-height: 33px;
        font-size: 24px;
        padding: 0;
      }
    }
  }
}

.productFeatures__diagram {
  display: flex;
  flex-wrap: wrap;

  @include media-breakpoint-up('lg') {
    flex-wrap: nowrap;
    align-items: center;
  }
}

.productFeatures__diagram--simple {
  .productFeatures__image {
    img {
      position: relative;
      margin: 0 auto;
    }
  }

  .productFeatures__item {
    &:not(:last-of-type) {
      margin-bottom: 15px;
    }
  }
}

.productFeatures__diagram-img--mobile {
  display: block;
  margin: 0 auto 54px;
  max-width: 100%;

  @include media-breakpoint-up('lg') {
    display: none;
  }
}

.productFeatures__diagram-img--desktop {
  display: none;

  @include media-breakpoint-up('lg') {
    display: block;
  }
}

.productFeatures__col {
  width: 100%;
  position: relative;
  z-index: 0;
  text-align: center;

  @include media-breakpoint-up('lg') {
    text-align: left;
  }
}

.productFeatures__col--list {
  z-index: 1;
  margin: 0;
  padding: 0 48px;

  @include media-breakpoint-up('lg') {
    margin: -9px 0 0 -100px;
    padding: 0;
  }
}

.productFeatures__item {
  text-align: left;

  &:not(:last-of-type) {
    margin-bottom: 50px;
  }

  h4 {
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    color: theme-color('light-blue');
    margin-bottom: 15px;
  }

  ul {
    $lineHeight: 27px;

    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: $lineHeight;
    color: theme-color('dark-background');
    list-style: none;

    li {
      position: relative;

      @include media-breakpoint-up('lg') {
        padding-left: 25px;

        &::before {
          content: '';
          position: absolute;
          top: $lineHeight / 2;
          left: 0;
          border-radius: 50%;
          width: 4px;
          height: 4px;
          background-color: theme-color('dark-background');
          transform: translate(50%, -50%);
        }
      }

      &:not(:last-of-type) {
        padding-bottom: 7px;
      }

      @include media-breakpoint-up('lg') {
        &:not(:last-of-type) {
          padding-bottom: 0;
        }
      }
    }
  }
}

.productFeatures--ultima {
  .productFeatures__item {
    @include media-breakpoint-up('lg') {
      &:first-of-type {
        margin-bottom: 60px;
      }

      &:last-of-type {
        padding-top: 24px;
      }
    }
  }
}

.productFeatures--spektra {
  .productFeatures__item {
    @include media-breakpoint-up('lg') {
      &:first-of-type {
        margin-bottom: 60px;
      }

      &:nth-child(2) {
        margin-bottom: 25px;
      }
    }
  }
}

.productFeatures__elements {
  display: flex;
  flex-direction: column;
  margin-top: 54px;
  padding-left: 80px;

  @include media-breakpoint-up('lg') {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0;
    padding-left: 0;
  }
}
