 #pin11{
                opacity: 0;
            }
            #pin12{
                opacity: 0;
            }
            #pin13{
                opacity: 0;
            }
            #pin14{
                opacity: 0;
                /*top: 290px !important;*/
            }
            #pin15{
                /*opacity: 0;*/
                /*top: 250px !important;*/
            }
            #pin16{
                opacity: 0;
            }
            #pin17{
                opacity: 0;
            }
            #pin18{
                opacity: 0;
            }
            #pin19{
                opacity: 0;
            }
            #pin17b{
                opacity: 0;
            }
            .fade-in {
                opacity: 1 !important;
            }

            .scrolls1h3mb{
                font-family: 'Open Sans','Arial','sans-serif';
                /*color: #000000;*/
                font-size: 20px;
                line-height: 35px;
                font-weight: 600;
                font-style: italic;

            }
            .scrolls2h3mb {
                font-family: 'Open Sans','Arial','sans-serif';
                /*color: #000000;*/
                font-size: 20px;
                line-height: 30px;
                font-weight: 600;
                font-style: italic;

            }
            #scrpinspmb .scrollmagic-pin-spacer{
                padding:unset !important;
                /*margin:unset !important;*/
            }

            @media (max-width:480px) {
                .data_img21mb{
                    width: 80%;
                    /*max-width: 400;*/
                }
                img.data_imgmb {
                    width: 80%;
                }
                .scrspcmb{
                    height: 490px;
                }
                .scimg15{
                    margin-top: 5px !important;
                }
                .scimg12 {
                    width: 92%;
                    margin-top: 8px !important;
                }
                #pin14{
                    top:235px !important;
                }

            }


            .scrolls2h3dsa{
                display:none;
            }
            .scrolls2h3dsb{
                display:none;
            }
            .lrnbtn{
                padding: unset !important;
                background: unset !important;
                color: rgb(36, 146, 195) !important;
            }
            .lrnbtnwrap {
                text-align: right !important;
                margin-top: 18px !important;
            }
            p.diamanti_dscrollv3-para {
                padding: 10px 15px !important;
                margin: unset !important;
                line-height: 1.5em !important;
                background: unset !important;
                font-size:14px;
            }
            .diamanti_dscrollv3-paradv {
                background: rgba(255, 255, 255, 80%);
                border-radius: 5px;
                padding-top: 8px;
                padding-bottom: 8px;
            }
            .content_wrapmb {
                padding: 15px 15px 18px 15px!important;
                border-radius: 5px;
                background: rgba(0, 89, 126, 0.10);
                padding: 25px;
            }
            #dspcin13c .content_wrapmb {
                background: unset;
                padding: unset !important;
                border: unset;
            }
            #pin16c .content_wrapmb {
                background: unset;
                /*padding: unset !important;*/
                border: unset;
            }
            .scrtxtbld {
                color: rgb(43, 43, 43);
                font-weight: bold;
            }
            h1.diamanti_dscrollv3-title{
                font-style:unset !important;
                font-weight:700 !important;
            }
            h6.diamanti_dscrollv3-sub-title {
                font-style: unset !important;
                color: rgb(36, 146, 195);
                font-weight: 600 !important;
            }
            h3.scrolls2h3mb {
                font-style: unset;
            }
            .scrolls2h3mb {
                font-style: unset;
            }
            h3.scrolls1h3mb {
                font-style: unset;
            }
            .scrolls1h3mb{
                display: none;
            }
            h3.scrolls1h3dsa {
                font-family: 'Open Sans','Arial','sans-serif';
                font-size: 20px;
                line-height: 30px;
                font-weight: 600;
                position: relative;
                top: -8px;
            }
            h1.diamanti_dscrollv3-title.dcrltecd.dsmrgnh1 {
                margin-left: 20px !important;
                margin-right: 20px !important;
            }
            .scrpin15a{
                height:unset !important;
            }

            img.data_imgmb {
                position: relative;
                /*left: 145px;*/
                top: 2px;
                top: 18px;
            }
            @media (max-width: 980px) {
                img.data_imgmb {
                    /*left: 145px;*/
                }
                .hscroll_img_right {
                    display: flex;
                    justify-content: center;
                }
            }
            @media (min-width: 480px) and (max-width: 1024px) {

                data_img21mb {
                    width: 50% !important;
                    /*max-width: 400;*/
                }

                img.data_imgmb {
                    width: 50% !important;
                }
                .data_img21mb {
                    width: 50%;
                }
                .hscroll_img_right {
                    display: flex;
                    justify-content: center;
                }

            }


            .scrllgd {
                display: unset !important;
                text-align: center;
            }
            .dscrollmsmb .dcrltecd {
                /*text-align: center !important;*/
                line-height:1.3em !important;
            }


            @media (min-width: 980px) {

                .content_wrapmb {
                    background: rgba(0, 89, 126, 0.10);
                    padding: 25px;
                }

                .dsmrgnh1 {
                    margin-top: 217px !important;
                    margin-bottom: 217px !important;
                }

                .scrolls1h3mb {
                    font-size: 1.7em;
                }

                .scrolls2h3mb {
                    font-size: 1.7em;
                }

                .diamanti_dscrollv3-title {
                    font-size: 1.7em !important;
                }

                data_img21mb {
                    width: 50%;
                }

                img.data_imgmb {
                    width: 50%;
                }
                p.diamanti_dscrollv3-para{
                    padding: 15px !important;
                    margin-bottom: 15px !important;
                }


            }
            @media (min-width: 1300px){
                .hscroll_left_content3 {
                    width: 60%;
                    position: relative;
                    left: 50%;

                }
                .diamanti_hscrol_right {
                    text-align: left;
                }

                .diamanti_hscrol_right {
                    position: relative;
                    right: 10%;
                }

                img.data_img21mb.scimg15 {
                    width: 50%;
                }



            }


            @media (min-width: 1900px) {
                p.diamanti_dscrollv3-para {
                    font-size: 0.9vw !important;
                    line-height: 1.7em;
                }
                h1.diamanti_dscrollv3-title {
                    /*font-size: 2vh !important;*/
                    font-size: 3.3vh !important;
                    line-height: 1.2em !important;
                }

                .hscroll_left_content3{
                    width: calc(10vw + 40vh + 2vmin) !important;
                }
                .scroll_left13 .content_wrapmb {
                    background: unset;
                }
                .scroll_left16 .content_wrapmb {
                    background: unset;
                }
                h6.diamanti_dscrollv3-sub-title {
                    font-size: 2vh !important;
                }
                h3.scrolls1h3mb {
                    /*font-size: 3vh;*/
                    line-height: 1.2em;
                }
                h3.scrolls2h3mb {
                    /*font-size: 3vh;*/
                    line-height: 1.2em;
                }
                h1.diamanti_dscrollv3-title.dcrltecd.dsmrgnh1 {
                    /*position: absolute;*/
                    /*top: -40vh;*/
                    margin: unset !important;
                    margin-top:-350px !important;
                }
                #pin13c {
                    margin: unset !important;
                }
                #pin16c {
                    margin: unset !important;
                }
                .scroll_left13{
                    opacity: 0;
                }
            }

            @media(min-width:1300px){
                a.lrnbtn {
                    padding: unset !important;
                    background: unset !important;
                    color: rgb(36, 146, 195) !important;
                }
                .lrnbtnwrap{
                    text-align:right !important;
                    margin-top:18px !important;
                }
                h6.diamanti_dscrollv3-sub-title {
                    color: #2492c3;
                }
                .content_wrapmb{
                    padding: 6px 15px 18px 15px!important;
                    border-radius: 5px;
                }
                h6.diamanti_dscrollv3-sub-title {
                    padding-bottom: 18px !important;
                    font-style: unset !important;
                    font-weight:600 !important;
                    line-height:unset !important;
                }
                h1.diamanti_dscrollv3-title {
                    margin-bottom: 18px;
                    font-style:unset !important;
                }
                p.diamanti_dscrollv3-para {
                    padding: 10px 15px !important;
                    margin: unset !important;
                    line-height: 1.5em !important;
                    background:unset !important;
                }
                h3.scrolls1h3mb {
                    color: rgb(43, 43, 43) !important;
                    font-style:unset !important;
                }
                h3.scrolls2h3mb {
                    font-style: unset;
                }
                .scrolls2h3dsa {
                    display: block;
                    position: relative;
                    right: 0;
                    top: 150;
                    text-align: right;
                    line-height: 35px;
                    font-weight: 600;
                    font-size: 1.7em;
                }
                .scrolls2h3mb {
                    display: none;
                }
                .scrolls2h3dsb {
                    display: block;
                    text-align: left;
                    position: absolute;
                    bottom: 100px;
                    text-align: left;
                    line-height: 35px;
                    font-weight: 600;
                    font-size: 1.7em;
                }
                .scrtxtbld{
                    color: rgb(43, 43, 43);
                    font-weight: bold;
                }
                .scrpin15a{
                    height:30vh !important;
                }
                #pin18 .data_img21mb.scimg12 {
                    margin-top: -64px !important;
                }
                .diamanti_dscrollv3-paradv {
                    background: rgba(255, 255, 255,80%);
                    border-radius: 5px;
                    padding-top: 8px;
                    padding-bottom: 8px;
                }
                .diamanti_hscrol_right.dtimg1 {
                    position: unset;
                }
                .dtimg1 .hscroll_img_right {
                    text-align: right;
                }

                .page-id-701 .ultima-thumb-sec {
                    display: grid;
                    grid-template-columns: 1fr 541px 1fr;
                    top:50px !important;
                }
                img.data_img21mb.scimg12.scrs2imga {
                    width: 541px;
                }

                .page-id-701 section#scrpinspmb {
                    /*max-width: 100%;*/
                }

                .page-id-701 .left-wrap {
                    padding-right: 30px;
                }

                .page-id-701 .right-wrap {
                    padding-left: 30px;
                }
                .scrolp18con #pin18 {
                    width: 100% !important;
                    left: 0 !important;
                }

                #pin13c .content_wrapmb {
                    background: unset;
                }
                #pin16c .content_wrapmb {
                    background: unset;
                }
                .dtimg11{

                    left: -14.1%;

                }
                .scrolls1h3dsa{
                    display: none;
                }
                .scrolls1h3mb{
                    display:block !important;
                }
                .dmscrse1ds{
                    height:unset !important;
                }
                .sclse14spc{
                    height:10px !important;
                }


                #homescrollv8 .n2-ss-slider-2.n2-ow {
                    background-repeat: no-repeat !important;
                }
                h1.diamanti_dscrollv3-title.dcrltecd.dsmrgnh1 {
                    width: 80%;
                }
                img.data_imgmb.dtimg16 {
                    top: 55px;
                }
                img.data_imgmb.scimg14 {
                    top: 72px;
                }
                .scroll_left14{
                    top:-300px;
                }
                h3.scrolls1h3mb {
                    /*font-size: 3vh; */
                    line-height: 1.2em;
                }

            }

            @media (min-width:980px) and (max-width:1300px){
                .dscrollmsmb .dcrltecd {
                    text-align: center !important;
                }
            }

            @media (min-width:1300px) and (max-width:1500px){
                /*.scrs2imga {*/
                /*    width: 40vh;*/
                /*}*/
                h1.diamanti_dscrollv3-title.dcrltecd.dsmrgnh1 {
                    /*position: absolute;*/
                    /*top: -40vh;*/
                    margin: unset !important;
                    margin-top:-350px !important;
                }
            }
            @media (min-width:1500px) and (max-width:1900px){
                h1.diamanti_dscrollv3-title.dcrltecd.dsmrgnh1 {
                    margin: unset !important;
                    margin-top:-350px !important;
                }}

            @media (min-width:2300px){
                .data_imgmb {
                    width: 78% !important;
                }
                .data_img21mb.scimg15 {
                    width: 78% !important;
                }
                img.data_imgmb.dtimg14 {
                    left: -27%;
                }
                img.data_imgmb.scimg13{
                    left: -27%;
                }
                img.data_imgmb.dtimg16{
                    left: -27%;
                }
                img.data_imgmb.scimg16{
                    left: -27%;
                }
                img.data_imgmb.scimg14{
                    left: -27%;
                }
                h1.diamanti_dscrollv3-title.dcrltecd.dsmrgnh1 {
                    margin: unset !important;
                    margin-top: -450px !important;
                }
                .page-id-701 .ultima-thumb-sec {
                    grid-template-columns: 1fr 850px 1fr;
                }
                img.data_img21mb.scimg12.scrs2imga {
                    width: 850px;
                }
                h3.scrolls1h3mb {
                    /*font-size: 3vh; */
                    line-height: 1.2em;
                }



            }

            @media(max-width:1300px){
                #pin14{
                    top:235px !important;
                }

                .spacer.s2.sclse14spc {
                    height: 600px !important;
                }
                h1.diamanti_dscrollv3-title {
                    font-size: 20px !important;
                    line-height: 30px !important;
                    text-align: center !important;
                }
                h6.diamanti_dscrollv3-sub-title {
                    line-height: 10px !important;
                    text-align: center !important;
                }
            }
