

.arrow-right {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 8px solid theme-color("orange");
  margin-left: 0.25em;
  height: 0;
  width: 0;
  position: relative;
  display: inline-block;
  transition: margin-left 200ms ease-in-out;

  a:hover & {
    margin-left: 0.5em;
    border-left-color: theme-color("green");
  }
}
